@import url('./fonts/droidsans.css');

body 
{
    font: 300 16px/1 Arial, sans-serif;
    color: #505050;
}


.content {
    padding-top: 5em;
    margin: 0 auto;
}

header h1 
{
    padding-bottom: 0.8em;
    font: 700 38px/1 'Droid Sans', Arial, sans-serif;
    color: #2b2b2b;
}

header h2 
{
    padding-bottom: 20px;
    font: 700 2.1em/1 'Droid Sans', Arial, sans-serif;
    color: #505050;
}

header a {
    color: #505050;
    text-decoration: none;
}

header a:hover {
    color: #2b2b2b;
    text-decoration: none;
}

article 
{
    font: 400 18px/35px 'PT Serif', Georgia, serif;
    color: #505050;
}